.shortcode-to-copy {
	margin-top: 20px;
}

.shortcode-to-copy .shortcode {
	padding: 5px;
}

#clerina-booking-form-data .handlediv,
#clerina-booking-form-data h2.hndle {
	display: none;
}

#clerina-booking-form-data .inside {
	margin-top: 0;
	padding-bottom: 0;
}

#clerina-booking-form-data .inside:before,
#clerina-booking-form-data .inside:after {
	content: "";
	display: table;
}

#clerina-booking-form-data .inside:after {
	clear: both;
}

#clerina-booking-form-data .sortable-placeholder {
	min-height: 34px;
}

/** Layout the form builder */
.cpb-form-fields {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 70%;
	padding: 20px 20px 20px 10px;
	margin-right: -1px;
	float: left;
	min-height: 560px;
}

.cpb-form-avaiable-fields,
.cpb-form-fied-settings {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 30%;
	padding: 20px;
	float: right;
	border-left: 1px solid #d0d0d0;
}

.cpb-form-field-settings {
	position: absolute;
	right: 0;
	top: 0;
	background: #fff;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 99;
	overflow: auto;
}

.cpb-form-field-settings .cpb-field-settings,
.cpb-form-field-settings .cpb-form-field-settings-actions {
	padding: 20px;
}

.cpb-form-field-settings .cpb-form-field-settings-actions {
	border-top: 1px solid #ddd;
	padding-left: 240px;
}

/** Field */

.cpb-form-field {
	position: relative;
	margin: 20px 0;
	padding: 7px 10px;
	border: 1px solid #ccc;
	cursor: pointer;
	background: #fff;
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}

.cpb-form-field:first-child {
	margin-top: 0;
}

.cpb-form-field:last-child {
	margin-bottom: 0;
}

.cpb-form-field:hover {
	-webkit-box-shadow:  0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow:  0 0 10px rgba(0,0,0,0.2);
	box-shadow:  0 0 10px rgba(0,0,0,0.2);
}

.cpb-form-field h4 {
	margin: 0;
}

.cpb-form-field-actions {
	font-size: 90%;
	float: right;
	opacity: 0;
}

.cpb-form-field:hover > .cpb-form-field-actions {
	opacity: 1;
}

/** Availabel fields */

.cpb-form-avaiable-fields .remove-field,
.cpb-form-avaiable-fields .edit-field {
	display: none;
}

.cpb-form-field.ui-draggable-dragging {
	min-width:  180px;
}

.cpb-form-field.ui-draggable-dragging .add-field {
	display: none;
}

/** Form fields holder */

.cpb-form-fields .cpb-form-field:first-of-type {
	margin-top: 0;
}

.cpb-form-fields .field-type-right {
	font-size: 90%;
	font-weight: 400;
	float: right;
	margin-right: 20px;
}

.cpb-form-fields .empty-fieldset {
	text-align: center;
	margin-top: 40px;
}

.cpb-form-fields .cpb-field-settings {
	 display: none;
}

/** Field settings */

.cpb-field-settings .field-option {
	margin-bottom: 10px;
}

.cpb-field-settings .field-option-remove {
	cursor: pointer;
}

.cpb-field-settings .field-option-handle .dashicons,
.cpb-field-settings .field-option-remove .dashicons {
	vertical-align: middle;
}

.cpb-field-settings .field-option-handle {
	color: #aaa;
	margin-right: 10px;
	cursor: move;
}

.cpb-field-settings .field-options-add-new {
	text-decoration: none;
}

/** Columns */

.cpb-form-field-columns {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cpb-form-field-columns .add-column {
	margin-right: 20px;
}

.cpb-form-field-columns .columns-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin: 10px -10px 5px -10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cpb-field-single-column {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	flex: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cpb-field-single-column .cpb-form-fields-container {
	background: #eee;
	padding: 10px;
	min-height: 40px;
}

.cpb-field-single-column .column-actions {
	position: absolute;

	top: 0;
	right: 0;
	background: #eee;
	display: none;
}

.cpb-field-single-column .column-actions > span {
	display: block;
}

.cpb-field-single-column:hover > .column-actions {
	display: block;
}

/** Editor */
#clerina-booking-form-scripts .CodeMirror {
	border: 1px solid #ddd;
}