/*keyframes*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(20deg);
  }

  75% {
    -webkit-transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(10deg);
  }
}

section {
  margin: 50px 0;
}

.bottom-margin {
  margin-bottom: 30px;
}

/*TYPOGRAPHY*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #008EB3;
}


h1,
.h1 {
  font-size: 52px;
  line-height: 78px;
}

h2,
.h2 {
  font-size: 32px;
  line-height: 48px;
}

h3,
.h3 {
  font-size: 24px;
  line-height: 36px;
}

h4,
.h4 {
  font-size: 22px;
  line-height: 24px;
}

h5,
.h5 {
  font-size: 18px;
  line-height: 24px;
}

h6,
.h6 {
  font-size: 16px;
  line-height: 24px;
}

.woocommerce ul.products li.product a img {
  padding: 5px 10px;
}

.heading-blue {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #008EB3;
}

.full-width-bg .h3,
.full-width-bg .two-col-row-link {
  color: #FAAF40;
  margin-bottom: 25px;
}

.two-col-row-link {
  color: #008EB3;
}

.two-col-row-link span {
  position: absolute;
  transition: .2s;
}

.two-col-row-link:hover {
  text-decoration: none;
}

.two-col-row-link:hover span {
  transform: translateX(3px);
}

.display-cats .children {
  animation: moveIn 900ms ease-in-out .3s;
  animation-fill-mode: backwards;
}

.poppins-light {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  font-family: 'Poppins', sans-serif;
}

.white-bold {
  font-weight: 700;
  color: #fff;
}

.lighter-grey {
  color: #E5E5E5;
}

/*MAIN CSS*/
.header-items {
  justify-content: space-between;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  transition: ease 0.3s;
}

.request-btn {
  right: 0;
  top: 300px;
  transform: rotate(-90deg) translate(0, -100%);
  transform-origin: 100% 0;
  position: fixed;
  z-index: 99999;
}

.request-btn .blue-btn {
  border-radius: 5px 5px 0px 0px;
  padding: 8px 20px;
  font-size: 14px;
  width: 184px;
  height: 40px;
}

/*HEADER*/
header {
  box-shadow: 0px 4px 4px 0px #00000040;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

.topbar {
  background-color: #008EB3;
  color: #fff;
  padding: 5px;
}

.topbar-left:hover span {
  animation: wiggle 1s infinite;
}

.topbar i {
  font-size: 24px;
  color: #fff;
}

.topbar i:focus {
  color: #FAAF40;
}

.topbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-content .phone-link {
  color: #fff;
}

.topbar-left {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.searchform {
  display: inline-block;
  position: relative;
}

.topbar-search {
  border-radius: 5px;
  font-size: 14px;
  padding: 4px 30px 4px 10px;
  border: none;
  margin-right: 25px;
  width: 200px;
}

.topbar-search-icon {
  position: absolute;
  right: 30px;
  top: 1px;
}

.fa-search,
.mobile-search-icon,
.navbar-collapse .blue-btn,
.navbar-collapse .homepage-link {
  display: none;
}

header .main-menu .current-menu-item>a {
  color: #FAAF40;
}

.current-cat>a {
  color: #008EB3 !important;
}

/* SLIDER */
.owl-carousel {
  width: 100%;
  z-index: 0 !important;
}

.item {
  width: 100%;
  height: 81vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Poppins', sans-serif;
}

.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.slide-content {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  color: #fff;
}

.slide-content .h1 {
  color: #fff;
  font-weight: 600;
}

.slider-button {
  max-width: 200px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  background-color: #FAAF40;
  padding: 10px 15px;
  border-radius: 5px;
}

.slider-button:hover i {
  animation: wiggle 1s infinite;
}

.slider-button i {
  margin-right: 18px;
  font-size: 24px;
}

.slider-button-link {
  display: inline-block;
  width: auto;
  text-decoration: none;
  color: #fff;
}

.slider-button-link:hover,
.slider-button-link:active,
.slider-button-link:focus {
  text-decoration: none;
  color: #fff;
}

.owl-dots {
  position: absolute;
  top: 81%;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
}

.owl-dot {
  width: 16px;
  height: 16px;
  background-color: #E5E5E5;
  border-radius: 50px;
}

.owl-dots .active {
  background-color: #FAAF40;
}

.owl-dot:not(:last-child) {
  margin-right: 14px;
}

/*HEADER NAV*/
header nav .main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 0;
}

.main-menu>li {
  list-style: none;
  color: #008EB3;
  position: relative;
  padding: 10px 0;
}

.main-menu>li>a {
  color: #008EB3;
  font-weight: 600;
  text-decoration: none;
}

.header-logo {
  width: 190px;
  height: 70px;
  background: url(img/Hyex-logo.svg) no-repeat center / contain;
  position: relative;
  margin: 15px 0;
}

.header-logo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: transparent;
  text-indent: 99999px;
  overflow: hidden;
}

header .sub-menu {
  position: absolute;
  top: 35px;
  z-index: 99999;
  width: 270px;
  background: #fff;
  padding: 15px 20px;
  list-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0.5px solid #E5E5E5;
  border-radius: 5px;
}

.d-none-desktop .mobile-logo img {
  width: 150px;
}

.d-none-desktop {
  display: none;
  visibility: hidden;
}

.menu-item-has-children>a::after {
  font-family: "Material Icons";
  content: "expand_more";
  height: 30px;
  position: absolute;
  right: -25px;
  top: 7px;
  cursor: pointer;
  font-size: 24px;
}

.sub-menu li {
  font-size: 14px;
  margin-right: 0 !important;
}

.sub-menu li:not(:last-child) {
  margin-bottom: 15px;
}

.sub-menu li a {
  color: #767676;
  font-weight: 400;
  text-decoration: none;
}

.sub-menu li a:hover {
  font-weight: 500;
}

/*HER0 SECTION*/
.header-image {
  height: 400px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.header-image-content {
  padding-bottom: 90px;
}

.hero-section .h1 {
  color: #fff;
  font-weight: 600;
  animation: moveInLeft 1s ease-out .3s;
  animation-fill-mode: backwards;
}

/*BUILDER*/
/***first 2 columns row services, products***/
.two-col-row {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: -50px;
  z-index: 2;
  background-color: #fff;
  overflow: hidden;
}

.row-box {
  padding: 15px 30px 15px 30px;
}

.first-row-box {
  padding: 15px 15px 15px 30px;
}

.intro-text-box {
  margin-bottom: 15px;
}

.border-right {
  border-right: 1px solid #E5E5E5;
}

.intro-image-box img {
  width: auto;
  float: right;
}

/*BUILDER*/
/***Services***/
.featured-services-box {
  margin-bottom: 35px;
}

.featured-services-box img {
  border-radius: 5px;
}

.featured-services-box .h6 {
  text-align: center;
  margin-bottom: 0;
  padding: 15px 15px 0 15px;
}

.featured-services a {
  color: #008EB3;
  text-decoration: none;
}

.view-all-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #008EB3;
  font-family: 'Poppins', sans-serif;
  position: relative;
  text-decoration: none;
}

.view-all-link:hover {
  text-decoration: none;
}

.service-thumb {
  overflow: hidden;
  border-radius: 5px;
  display: inline-block;
}

.service-thumb img {
  transition: 0.5s;
  height: 162px;
}

.service-thumb a {
  border-radius: 5px;
}

.service-thumb:hover img {
  transform: scale(1.1);
}

/*BUILDER*/
/***Products***/
.popular-products .h2 {
  margin-bottom: 40px;
}

/*BUILDER*/
/***Full background New Pro section***/
.full-width-bg {
  background-repeat: no-repeat;
  background-position: right;
  min-height: 300px;
  background-color: #4F5754;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.full-width-dark-content {
  width: 30%;
  line-height: 22.4px;
  padding: 30px 0;
}

/*BUILDER*/
/***half background half text general***/
.full-width-bg-cta {
  background-repeat: no-repeat;
  background-position: right;
  background-color: #4F5754;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  width: 50%;
}

.half-content {
  width: 50%;
  display: flex;
  align-items: center;
}

.full-width-cta {
  display: flex;
}

.text-col {
  width: 65%;
  padding: 10px;
}

.text-col a:hover span {
  transform: translateX(3px);
}

.text-col>*:not(:last-child) {
  margin-bottom: 30px;
}

/*BUILDER*/
/***half background half text light***/
.keep-order .text-col {
  margin-left: auto;
  margin-right: 55px;
  max-width: 506px;
  width: 100%;
}

.reverse-order .text-col {
  margin-left: 45px;
}

.half-width-light-content {
  color: #fff;
  background-color: #FAAF40;
}

.full-width-cta .half-width-light-content .h3 {
  color: #fff;
}


.half-width-light-content a {
  color: #fff;
  text-decoration: none;
}

.text-col .hf-paragraph {
  line-height: 23px;
}

/*BUILDER*/
/***half background half text dark***/
.half-width-dark-content {
  padding: 55px 0;
  color: #fff;
  background-color: #4B5350;
}

.full-width-cta .half-width-dark-content .h3 {
  color: #FAAF40;
  margin-bottom: 50px;
}

.half-width-dark-content a {
  color: #FAAF40;
  text-decoration: none;
}

.text-col a span {
  position: absolute;
  transition: .2s;
}

.keep-order {
  flex-direction: row;
}

.reverse-order {
  flex-direction: row-reverse;
}

/*BUILDER*/
/***Why CHOOSE HYEX***/
.flex-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: wrap;
}

.why-col {
  padding: 25px 13px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 0.5px solid #E5E5E5;
  border-radius: 5px;
  width: 23%;
  transition: all .2s ease-in-out;
}

.why-col:hover {
  transform: scale(1.01);
  box-shadow: 1px 10px 10px rgba(33 33 33 / 20%);
}

.why-col .h5 {
  font-family: 'Lato', sans-serif;
  line-height: 21px;
  margin-bottom: 15px;
}

.why-choose-intro {
  text-align: center;
  width: 65%;
  margin: auto;
  margin-bottom: 40px;
}

.why-choose-intro .h2 {
  font-weight: 500;
  margin-bottom: 30px;
  transition: all .2s;
}

.why-choose-text {
  margin-bottom: 0;
}

/***Above Footer Contact Us Section***/
.above-footer-contact .slider-button {
  background-color: #fff;
  color: #767676;
  margin-top: 20px;
}

/*BUILDER*/
/*Two Column Content*/
.builder-two-col-text .h2 {
  text-align: center;
  margin-bottom: 35px;
  transition: all .2s;
}

.builder-two-col-text p {
  line-height: 22px;
}

/*BUILDER*/
/*Statistics Section*/
.statistics-section {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background-color: #FAAF40;
  color: #fff;
}

.stats-full {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.stats-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-num {
  margin-right: 10px;
}

.stats-title {
  font-size: 18px;
}

.num-sym {
  display: flex;
  align-items: center;
  font-size: 50px;
  margin-bottom: 10px;
}

/*BUILDER*/
/*invoice section*/
.contact-invoice-section {
  background-color: #555E5B;
  padding: 35px 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.contact-invoice-section button {
  margin: 0 10px;
  padding: 13px 35px;
}

.modal.show .modal-dialog {
  z-index: 10;
}

/*************BLOG PAGE*************/
.blog-page .blog-post-box {
  margin-bottom: 50px;
}

.blog-page .blog-post-box .h6 {
  padding-top: 15px;
  padding-right: 15px;
}

.blog-page .blog-post-box .h6 a {
  color: #767676;
  font-weight: 700;
}

.blog-img {
  border-radius: 5px;
}

.blog-post-box img {
  transition: 0.5s;
  width: 100%;
  object-fit: cover;
  height: 232px;
}

.blog-thumb:hover {
  box-shadow: 1px 10px 10px rgba(33 33 33 / 20%);
}

.blog-thumb:hover img {
  transform: scale(1.03);
}

.blog-thumb a {
  display: block;
}

.pagination-links {
  display: block;
  margin-left: auto;
  margin-right: 40px;
}

.pagination-links .page-numbers {
  margin-right: 15px;
}

.pagination-links .current {
  color: #FAAF40;
}

/*************SINGLE BLOG PAGE*************/
.user-content {
  color: #767676;
}

.user-content p {
  line-height: 22px;
}

.user-content h1,
h2 {
  font-size: 22px;
  line-height: 24px;
  color: #767676;
}

.user-content h3,
h4 {
  font-size: 20px;
  line-height: 24px;
  color: #767676;
}

.user-content h5,
h6 {
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}

.more-blog {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #008EB3;
  margin-top: 50px;
  position: relative;
}

.single-content img:first-child {
  border-radius: 5px;
  margin-bottom: 35px;
  width: 100%;
  object-fit: cover;
}

.more-blog:hover {
  text-decoration: none;
}

/*************CONTACT US PAGE*************/
/*CONTACT US
---FORMS*/
.request-quote-contact .frm_primary_label {
  color: #767676;
  font-family: 'Lato', sans-serif;
}

.request-quote-contact .frm_required {
  color: #FAAF40;
}

.request-quote-contact .with_frm_style input,
#frm_field_30_container select {
  height: 50px;
}

.request-quote-contact .frm_dropzone .dz-message {
  padding: 5px;
}

.frm_forms.frm_style_formidable-style.with_frm_style,
.frm_dropzone.frm_single_upload {
  max-width: 100%;
}

.contact-us .frm_style_formidable-style.with_frm_style .frm_submit button {
  width: auto;
  padding: 13px 35px;
}

.contact-us .frm_submit {
  text-align: center;
}

/*CONTACT US
---2 column map section*/
.contact-map-section {
  background-color: #555E5B;
}

.contact-map-section {
  padding: 30px 0;
  color: #fff;
  font-size: 24px;
}

.contact-map-section .map-box-info .material-icons {
  font-size: 24px;
}

.contact-map-section .footer-contact-info>p {
  margin-bottom: 45px;
}

.footer-contact-info .phone-link {
  color: #767676;
}

.footer-contact-info .offers-footer {
  margin-top: 35px;
}

.map-box-info {
  padding-right: 160px;
}

.map-box-info .poppins-light {
  margin-bottom: 40px;
}

.contact-phone:hover span {
  animation: wiggle 1s infinite;
}

.map-box-info .map-box-phone {
  color: #fff;
}

/*FOOTER*/
.footer-contact-info {
  padding-right: 55px;
}

.footer-contact-info .material-icons {
  font-size: 32px;
}

.footer-contact-info>span {
  display: flex;
  align-items: center;
}

.footer-contact-info>span:not(:last-child) {
  margin-bottom: 27px;
}

.footer-content {
  border-top: 1px solid #E5E5E5;
  padding-top: 25px;
  color: #767676;
  font-size: 14px;
  font-weight: normal;
}

.footer-content i {
  font-size: 22px;
  margin-right: 13px;
}

.social-links a {
  text-decoration: none;
}

.footer-address {
  position: relative;
}

.footer-address .fa-map-marker-alt {
  position: absolute;
  top: 3px;
  left: 0;
}

.footer-content img {
  width: auto;
}

footer .h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #008EB3;
}

.footer-lists {
  padding: 0;
  list-style: none;
}

.footer-lists a,
.footer-newsletter a {
  color: #767676;
}

.footer-lists li {
  margin-bottom: 10px;
}

.footer-mobile {
  display: none;
}

.footer-mobile li {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
}



/*FOOTER
NEWSLETTER*/
footer {
  margin-top: 50px;
}

#field_6oej2 {
  text-align: center;
  padding: 25px 20px;
  border-radius: 5px;
  border: 1px solid #767676;
}

.frm_style_formidable-style.with_frm_style .frm_submit button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #FAAF40;
  padding: 13px 0;
  color: #fff;
}

.footer-newsletter .frm_style_formidable-style.with_frm_style .frm_submit button {
  width: 100%;
}

.footer-newsletter .frm_style_formidable-style.with_frm_style .frm_submit button:hover,
.contact-us .frm_style_formidable-style.with_frm_style .frm_submit button:hover,
#frm_form_5_container .frm_submit button:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.footer-newsletter .frm_style_formidable-style.with_frm_style .form-field {
  margin-bottom: 0;
}

/***FOOTER COPYRIGHT***/
.footer-copyright {
  padding: 7px 0;
  margin-top: 20px;
  color: #E5E5E5;
  background-color: #008EB3;
  font-size: 12px;
}

.footer-copyright a {
  color: inherit;
}

/* Large desktops and laptops */
@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {
  header nav ul li:not(:last-child) {
    margin-right: 59px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .cart-bag {
    right: -40px;
  }

  .cart-bag:before {
    right: 6.5%;
  }

  .keep-order .text-col {
    margin-right: 9vw;
  }
}

@media (min-width: 992px) {
  header .sub-menu {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
  }

  .menu-item-has-children:hover>.sub-menu {
    visibility: visible;
    opacity: 1;
  }

  .main-menu>li:not(.header-logo)>a::before,
  .view-all-link::before,
  .more-blog::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: currentColor;
    bottom: 7px;
    left: 0;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }

  .main-menu>li:not(.header-logo)>a:hover::before,
  .view-all-link:hover::before,
  .more-blog:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }

  .featured-services .view-all-link::before,
  .popular-products .view-all-link::before {
    bottom: 3px;
  }

  .single-post .more-blog::before {
    bottom: -2px;
  }
}

@media (max-width: 991px) {
  header .sub-menu {
    display: none;
  }

  .main-menu>li {
    padding: 0;
  }

  .main-menu>li>a {
    padding: 11px 0;
    display: block;
  }

  .container {
    max-width: 900px;
  }

  h1,
  .h1 {
    font-size: 40px;
    line-height: 45px;
  }

  h2,
  .h2 {
    font-size: 30px;
    line-height: 36px;
  }

  h3,
  .h3 {
    font-size: 20px;
    line-height: 21px;
  }

  h4,
  .h4 {
    font-size: 20px;
    line-height: 18px;
  }

  h5,
  .h5 {
    font-size: 16px;
    line-height: 18px;
  }

  h6,
  .h6 {
    font-size: 16px;
    line-height: 18px;
  }

  p {
    font-size: 14px;
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    position: fixed;
    width: 100%;
  }

  header .sub-menu {
    border: none;
    box-shadow: none;
    position: relative;
    top: 0;
  }

  .sub-menu li:not(:last-child) {
    margin-bottom: 10px;
  }

  .menu-item-has-children>a::after {
    right: 0;
    transition: all .2s;
  }

  .activated:after {
    transform: rotate(180deg);
  }

  .navbar-toggler {
    position: relative;
  }

  .navbar-collapse {
    position: absolute;
    z-index: 9000;
    background-color: rgb(255, 255, 255);
    width: 50%;
    left: 0;
    top: 84px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 30px;
  }

  .navbar-collapse .blue-btn {
    display: block;
    width: 100%;
    padding: 13px 0;
    margin: 50px 0;
  }

  .navbar-collapse .main-menu-btn {
    text-decoration: none;
  }

  header .container {
    width: unset;
    margin-right: 0;
    margin-left: 0;
  }

  .navbar-toggler span {
    width: 28px;
    height: 4px;
    display: block;
    margin: 8px 0;
    background-color: #008EB3;
    transition: .3s ease;
  }

  .navbar-toggler .burger-two {
    width: 19px;
  }

  .change .burger-two {
    opacity: 0;
  }

  .change .burger-one {
    -webkit-transform: rotate(-45deg) translate(-9px, 8px);
    transform: rotate(-45deg) translate(-9px, 8px);
  }

  .change .burger-three {
    -webkit-transform: rotate(45deg) translate(-8px, -9px);
    transform: rotate(45deg) translate(-8px, -9px);
  }

  .navbar-light .navbar-toggler {
    border: none;
  }

  .menu-item-has-children::after {
    font-size: 16px;
    right: 0;
    top: unset;
  }

  .navbar-collapse>ul>li {
    border-bottom: 1px solid #E5E5E5;
  }

  header nav ul li {
    align-self: stretch;
  }

  header nav ul li:not(:last-child) {
    margin-right: 0;
  }

  .header-logo,
  .topbar .topbar-left,
  .topbar-search-icon,
  .cart-bag:before {
    display: none;
  }

  .d-none-desktop {
    display: block;
    visibility: visible;
  }

  .main-menu .sub-menu li {
    padding-bottom: 10px;
  }

  .topbar {
    background-color: #fff;
    padding: 0;
  }

  .cart-bag .yellow-btn,
  .cart-bag .blue-btn {
    padding: 13px 10px;
  }

  .topbar .colored {
    color: #FAAF40;
  }

  .topbar i {
    color: #008EB3;
    font-size: 24px;
  }

  .topbar .material-icons {
    font-size: 28px;
  }

  .fa-search {
    display: inline-block;
    color: #008EB3;
    font-size: 24px;
    cursor: pointer;
  }

  .mobile-hed-right {
    position: relative;
  }

  .mobile-search-icon,
  .navbar-light .homepage-link {
    display: block;
  }

  .mobile-drop-search {
    display: flex;
    justify-content: center;
  }

  .topbar-search {
    font-size: 14px;
    margin-right: 0;
  }

  .searchform {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 0.5px solid #E5E5E5
  }

  .cart-bag {
    width: 350px;
    right: 0px;
  }

  .why-col {
    width: 47%;
    margin-bottom: 30px;
  }

  .footer-contact-info {
    padding-right: 0;
  }

  .full-width-dark-content {
    width: 45%;
  }

  .intro-image-box img {
    width: 165px;
  }

  .service-thumb img {
    height: auto;
  }

  .contact-map-section .footer-contact-info>p {
    font-size: 20px;
  }

  .header-image {
    height: 320px;
  }

  .blog-page .blog-post-box .h6 {
    padding-right: 98px;
  }

  .single-post .blog-page .blog-post-box .h6 {
    padding-right: 0;
  }

  .slide-content {
    top: 60%;
  }

  .keep-order .text-col {
    padding-left: 20px;
    margin-right: 20px;
    max-width: 100%;
  }

  .reverse-order .text-col {
    margin-left: 10px;
    width: 100%;
  }

  .half-width-dark-content {
    padding: 30px 0;
  }

  .woocommerce-cart,
  .single-content {
    padding-top: 90px;
  }
}

@media (max-width: 1200px) {
  .map-box-info {
    padding-right: 0;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 835px) {
  .container {
    max-width: 750px;
  }

  header {
    border-top: 5px solid #008EB3;
  }

  .item {
    height: 65vh;
  }

  .two-col-row {
    margin-top: -25px;
  }

  .owl-dots {
    top: 83%;
  }

  .row-box {
    padding: 15px 15px 15px 30px;
  }

  .first-row-box {
    padding: 15px 0px 15px 30px;
  }

  .intro-text-box {
    font-size: 12px;
    text-overflow: ellipsis;
    height: 116px;
    overflow: hidden;
  }

  /***ABOUT US***/
  .num-sym {
    font-size: 40px;
  }

  .stats-title {
    font-size: 16px;
  }

  .contact-invoice-section {
    font-size: 19px;
  }

  .footer-content {
    font-size: 12px;
  }

  .request-btn {
    top: 200px;
  }

  .header-image-content {
    padding-bottom: 40px;
  }

  .slider-button {
    font-size: 16px;
  }
}

@media (max-width: 800px) {}

@media (min-width: 670px) and (max-width: 768px) {
  .featured-services-box {
    text-align: center;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .why-choose-intro {
    width: 100%;
  }

  .more-blog {
    margin-bottom: 30px;
  }

  .keep-order .text-col {
    padding-left: 10px;
    margin-right: 10px;
  }

  .half-width-dark-content {
    padding: 10px 0;
  }

  .full-width-cta .half-width-dark-content .h3 {
    margin-bottom: 30px;
  }

  .blog-page .blog-post-box .h6 {
    padding-right: 30px;
  }
}

@media (max-width: 650px) {
  .intro-text-box {
    display: none;
  }

  .intro-image-box img {
    float: none;
    width: 100%;
    margin-bottom: 12px;
  }

  .two-col-row .row {
    flex-wrap: nowrap;
  }

  .row-box {
    padding: 10px 10px 10px 0;
  }

  .first-row-box {
    padding: 10px 0 10px 10px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 544px) {
  section {
    margin: 35px 0;
  }

  h1,
  .h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2,
  .h2 {
    font-size: 24px;
    line-height: 36px;
  }

  h3,
  .h3 {
    font-size: 18px;
    line-height: 21px;
  }

  h4,
  .h4 {
    font-size: 18px;
    line-height: 18px;
  }

  h5,
  .h5 {
    font-size: 16px;
    line-height: 18px;
  }

  h6,
  .h6 {
    font-size: 16px;
    line-height: 18px;
  }

  .navbar-collapse {
    top: 82px;
    width: 100%;
    padding: 0 28px;
  }

  .fa-search {
    font-size: 20px;
  }

  .topbar .fa-user,
  .topbar .fa-shopping-cart {
    font-size: 20px;
  }

  .cart-bag {
    width: 300px;
    right: 0;
  }

  .d-none-desktop .mobile-logo img {
    width: 120px;
  }

  header {
    justify-content: space-between;
  }

  .footer-content img {
    width: 150px;
  }

  .footer-product-cats,
  .footer-services,
  .footer-copyright {
    display: none;
  }

  footer {
    padding-bottom: 20px;
    border-bottom: 5px solid #008EB3;
  }

  .footer-content {
    border-top: none;
    padding-top: 0;
  }

  .footer-content .change-order {
    order: 2;
  }

  .footer-newsletter {
    margin-bottom: 30px;
  }

  .footer-newsletter #frm_field_26_container {
    padding-right: 20px;
  }

  .footer-mobile {
    display: block;
  }

  .footer h3 {
    font-size: 18px;
  }

  #field_6oej2 {
    padding: 25px 0px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .why-col {
    width: 100%;
  }

  .keep-order,
  .reverse-order {
    flex-direction: column-reverse;
  }

  .half-content {
    width: 100%;
  }

  .full-width-bg-cta {
    width: 100%;
    min-height: 150px;
  }

  .request-btn {
    top: 180px;
  }

  .request-btn .blue-btn {
    width: 147px;
    padding: 8px;
  }

  .slide-content {
    top: 62%;
  }

  .item {
    height: 60vh;
  }

  .owl-dots {
    top: 85%;
  }

  .two-col-row {
    margin-top: -38px;
  }

  .keep-order .text-col {
    margin-right: 0;
    padding-left: 14px
  }

  .num-sym {
    font-size: 30px;
  }

  .header-image-content {
    padding-bottom: 25px;
  }

  .stats-box {
    flex-basis: 41%;
    margin: 30px 10px;
    text-align: center;
  }

  .stats-box:nth-child(1),
  .stats-box:nth-child(2) {
    margin-bottom: 20px;
  }

  .full-width-bg {
    background-size: contain;
    background-position: top;
    min-height: 275px;
  }

  .full-width-dark-content {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 15px;
  }

  .two-col-row-link {
    font-size: 13px;
  }

  .two-col-row .two-col-row-link span {
    font-size: 14px;
    font-weight: 700;
    bottom: 10px;
  }

  .contact-invoice-section {
    font-size: 16px;
    padding: 12px 0;
  }

  .contact-invoice-section button {
    display: block;
    margin: 15px auto;
  }

  .slider-button {
    font-size: 14px;
    padding: 5px 10px;
  }

  .above-footer-contact .slider-button {
    margin-top: 0;
  }

  .footer-contact-info .offers-footer {
    margin-top: 18px;
    width: 65%;
  }

  .footer-newsletter .frm_style_formidable-style.with_frm_style .form-field {
    width: 50%;
    display: inline-block;
  }

  .footer-newsletter .frm_style_formidable-style.with_frm_style .frm_submit button {
    width: 50%;
    position: absolute;
    right: 0;
    top: 60px;
  }

  .frm_forms.frm_style_formidable-style.with_frm_style,
  .frm_dropzone.frm_single_upload {
    position: relative;
  }
}

@media (max-width: 480px) {}

@media (max-width: 390px) {}
