/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 3.0
 */

/*DEFAULT CSS*/
* {
  outline: none !important;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  font-family: 'Lato', sans-serif;
  color: #767676;
}

a,
a:hover,
a:focus {
  color: #244A57;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.transition {
  transition: .5s;
}

.relative-parent {
  position: relative;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.alpha {
  padding-left: 0;
}

.omega {
  padding-right: 0;
}

.page-404 {
  padding-top: 40px;
  padding-bottom: 40px;
}


.aligncenter,
div.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  max-width: 100%;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 6px 0px 5px;
  text-align: left;
}

/*Sing In page */
.yellow-btn {
  height: 50px;
  background: #FAAF40;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 13px 35px;
  border: none;
  transition: ease 0.3s;
}

.yellow-btn:hover {
  background: #FFFFFF;
  border: 1px solid #767676;
  box-sizing: border-box;
  border-radius: 5px;
  color: #767676;
}

.blue-btn {
  height: 50px;
  background: #008EB3;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF !important;
  padding: 13px 35px;
  border: none;
  transition: ease 0.3s;
}

.blue-btn:hover {
  background: #FFFFFF;
  border: 1px solid #008EB3;
  box-sizing: border-box;
  border-radius: 5px;
  color: #008EB3 !important;
}

.lost_reset_password input {
  width: 520px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Lato;
  font-size: 18px;
  line-height: 22px;
  color: #7A7B82;
  margin-bottom: 30px;

}

.lost_reset_password label {
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #767676;
  margin-bottom: 0;

}

.container-margin {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
}

.fpass-page {
  margin: 50px auto;
}

.fpass-page h2 {
  font-family: Lato;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #008EB3;
  margin-bottom: 30px;
}

form.woocommerce-ResetPassword.lost_reset_password p {
  margin: 0 auto;
}

.lost_reset_password .form-row-first,
.woocommerce-page form .form-row-first {
  float: none;
}

.lost_reset_password .form-row {
  padding: 3px;
}

.lost_reset_password button {
  margin: 30px auto 0 auto;
}

.woocommerce-error {
  border-top-color: #008EB3;
  margin: 15px;
}

/*Login page */
.login-page h1 {
  margin-bottom: 30px;
}

.form input {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #7A7B82;
}

.form label {
  font-weight: bold;
  font-size: 16px;
  color: #767676;
  margin-bottom: 5px;
}

.form .form-row>.col,
.form-row>[class*=col-] {
  padding-right: 15px;
  padding-left: 15px;
}

.form .form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.form small {
  font-size: 14px;

  color: #767676;
}

/*Cart page*/
#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 150px;
  box-shadow: none;
}

td.product-name a {
  font-weight: bold;
  font-size: 16px;
  line-height: 35px;
  color: #008EB3;
}

td.product-price {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #008EB3;
}

th.product-item {
  padding-left: 0px !important;
}

th.product-subtotal {
  padding-right: 0px !important;
  text-align: right !important;
}

td.product-subtotal {
  padding: 9px 0px 9px 48px !important;
  text-align: right;
}

td.product-subtotal {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #008EB3;
}

.woocommerce a.remove {
  color: white !important;
  background: #008EB3;
  border: 1px solid #008EB3;
  box-sizing: border-box;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  line-height: 1.2;
  font-weight: 500;
}

td.product-quantity {
  text-align: center;
  line-height: 35px;
  color: #008EB3;
  font-family: Poppins;
  font-weight: 500;
}

.woocommerce a.remove:hover {
  background: #008EB3;
}

.woocommerce-cart-form table.shop_table th {
  padding: 9px 45px;
  font-size: 24px;
  line-height: 149.5%;
  text-align: center;
  color: #767676;
}

.woocommerce-cart-form table.shop_table td {
  border-top: 1px solid #E8EEF4;
  padding: 9px 45px;
}

.woocommerce-cart-form table.shop_table {
  border: 0px;
}

td.product-name {
  padding: 9px 0 !important;
}

td.product-thumbnail {
  padding: 9px 0 !important;
}

td.actions {
  padding: 9px 0px !important;
}

.cart_totals table tr {
  border-top: 1px solid #E8EEF4;
  padding: 9px 12px;
  font-size: 16px;
  line-height: 149.5%;
  color: #767676;
}

.cart_totals table tr td {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 35px;
  color: #008EB3;
  text-align: right;
}

.cart_totals table.shop_table {
  border: none;
}

.actions button.button {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #FAAF40;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 35px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FAAF40;
}

.actions button.button:hover {
  background: #FAAF40;
  color: #FFF;
}

.coupon input.input-text {
  width: 243px !important;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
}

a.checkout-button.button.alt.wc-forward {
  height: 50px;
  background: #FAAF40;
  border-radius: 5px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 13px 35px;
  border: none;
  width: fit-content;
  float: right;
}

a.checkout-button.button.alt.wc-forward:hover {
  background: #FFFFFF;
  border: 1px solid #767676;
  box-sizing: border-box;
  border-radius: 5px;
  color: #767676;
}

.cross-sells {
  display: none;
}

.woocommerce-page .h1 {
  font-weight: 600;
}

.woocommerce .quantity .qty {
    width: 25px;
    text-align: center;
    border: white;
    font-size: 24px;
    line-height: 35px;
    color: #008EB3;
    font-family: Poppins;
    font-weight: 500;
    height: 30px;
    -webkit-appearance: none;
}

input.qty_button.plus {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    background: #E5E5E5;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    color: #008EB3;
    width: 30px;
    height: 30px;
}

input.qty_button.minus {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    background: #E5E5E5;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    color: #008EB3;
    width: 30px;
    height: 30px;
}

.product-quantity label.screen-reader-text {
  display: none !important;
}

.product-subtotal bdi {
  font-weight: bold;
  font-size: 16px;
  line-height: 35px;
}

.product-price bdi {
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
}

.mobile-product-thumbnail {
  display: none;
  float: left;
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.product-name:before {
  content: '' !important;
}

.remove-btn-mobile {
  display: none;
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
  background-color: #fff !important;
}

/*Shop page*/
.woocommerce .products ul,
.woocommerce ul.products {
  display: flex;
  flex-wrap: wrap;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  justify-content: space-between;
  flex-direction: column;
  display: flex
}

.product-content h2 {
  font-family: Lato;
  font-weight: 700;
  line-height: 38px;
  color: #767676;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 17px;
  text-align: center;
  color: #767676;
  padding: .5em 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 43px;

}

.woocommerce ul.products li.product .woocommerce-loop-product__title:hover {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  text-decoration-line: underline !important;
  color: #008EB3;
}

.product a.button {
  width: 100%;
  text-align: center;
  background: #008EB3;
  border-radius: 0px 0px 5px 5px;
  height: 41px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  transition: ease 0.3s;
}

.product .wc-forward {
  width: 100%;
  text-align: center;
  background: #FAAF40;
  border-radius: 0px 0px 5px 5px;
  height: 41px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.product a.button:hover {
  background: #FAAF40;
  border-radius: 0px 0px 5px 5px;
  color: #fff;
}

.add_to_cart_button.added {
  display: none !important;
}

li.product.type-product.purchasable {
  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
  justify-content: space-between;
  flex-direction: column;
  display: flex
}

.woocommerce ul.products li.product .woocommerce-placeholder {
  border: none;
}

.woocommerce ul.products li.product .price {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #767676;
  margin-top: 15px;
}

.woocommerce ul.products li.product .onsale {
  margin: 5px 5px 0 0;
}

.woocommerce span.onsale {
  background: #FAAF40;
  width: 50px;
  height: 50px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  top: 0px;
  left: 15px;
}

.woocommerce .woocommerce-breadcrumb a {
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #767676;
}

.woocommerce .woocommerce-breadcrumb {
  color: #008EB3;
  margin-top: 30px;
  margin-bottom: 50px;
}

.woocommerce nav.woocommerce-pagination {
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #008EB3;
}

.woocommerce nav.woocommerce-pagination ul {
  border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
  border-right: none;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
  background: none;
  color: #FAAF40;
}

a.page-numbers {
  color: #008EB3;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover {
  background: none;
  color: #008EB3;
}

.woocommerce .button.product_type_simple:before,
.woocommerce .button.single_add_to_cart_button:before,
.woocommerce-page .button.product_type_simple:before,
.woocommerce-page .button.single_add_to_cart_button:before {
  content: "\f07a";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 5px;
}

/*Sidebar */
h3.widget-title {
  margin-bottom: 28px;
}

.sidebar ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #767676;
  display: flow-root;
  margin-left: 22px;
}

.sidebar ul {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

ul.children {
  display: none;
  margin-top: 15px;
  margin-left: 20px;
}

ul.children .cat-item:last-child {
  margin-bottom: 0;
}


.active-m::before {
  font-family: "Material Icons";
  content: "chevron_right";
  font-size: 18px;
  font-weight: bold;
  display: block;
  float: left;
  margin-top: 1px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.display-cats::before {
  transform: rotate(90deg);
}

.product-categories .cat-item {
  margin-bottom: 20px;

}

/*Menu Cart*/
.cart-bag {
  display: none;
  width: 420px;
  z-index: 1000;
  position: absolute;
  color: #ccc;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
  padding: 5px 14px;
  margin-top: 14px;
  right: -80px;
  overflow-y: scroll;
  max-height: 500px;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-btn:hover>.cart-bag {
  display: block;
}

.cart-block a {
  margin-right: 12px;
  text-decoration: none;
}

.cart-bag:before {
  content: url(./img/Polygon.svg);
  display: block;
  margin-top: -23px;
  right: 13.5%;
  z-index: 100000;
  position: fixed;
}

.cart-bag-img {
  margin-right: 50px;
}

.cart-bag img {
  max-width: 92px;
  height: auto;
}

.cart-block {
  border-bottom: 1px solid #E8EEF4;
  padding-top: 18px;
}

.cart-bag .cart-block:last-child {
  border: none;
}

.bag-title {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #767676;
}

.bag-price {
  font-family: Poppins;
  font-size: 16px;
  line-height: 35px;
  color: #008EB3;

}

.subtotal-cart {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #767676;

}

.subtotal-cart span {
  font-family: Poppins;
  font-weight: bold;
  font-size: 16px;
  line-height: 35px;
  color: #008EB3;
}

.empty-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #008EB3;
}

select.orderby {
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px 12px;
  font-size: 14px;
  color: #767676;
}

/*Single page*/
.summary .price del {
    color: #767676 ;

}
.summary .price del span{
    color: #767676;
    font-weight: 400;
    font-size: 27px;
}

.bundled_item_after_cart_details.bundled_item_button {
    display: none;
}
 .bundled_item_cart_details .price del span {
    color: #767676;
    font-size: 14px !important;
}
.bundled_item_cart_details ins bdi {
    font-weight: bold;
    font-size: 17px;
    line-height: 35px;

}
.bundled_item_cart_details  bdi {
    font-weight: bold;
    font-size: 17px;
    line-height: 35px;

}



.bundled_product_summary {
    margin-top: 10px;
    margin-bottom: 10px !important;
}
.bundle_wrap {
    margin-top: 10px;
}

.bundle_form .bundle_price p.price, .single-product .bundle_form .bundle_price p.price {
    display: none;
}
span.from {
    display: none;
}
.product{
    width: 100%;
    position: initial;
}

.single-product p,
a {
  font-family: Poppins;
}

.related h2 {
  font-weight: 500;
  text-align: left;
  font-size: 24px;
  line-height: 36px;
  color: #008EB3;
}

.woocommerce div.product div.images {
  margin-bottom: 0px;
}

.single-product main h1 {
  margin: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}

.product_meta {
  font-size: 14px;
  line-height: 21px;
  color: #767676;
}

.summary ins .woocommerce-Price-amount.amount {
    font-weight: bold;
    font-size: 32px;
    line-height: 35px;
    color: #008EB3;

}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #77a464;
  font-size: 1.25em;

}

.single-product .price {
  margin-top: 38px;
  margin-bottom: 22px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: none;
  background-color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom: none;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
  box-shadow: -2px 2px 0 #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
  right: -5px;
  border-bottom-left-radius: 4px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #ebe9eb;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;

    color: #767676;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #767676;
    padding: 0px;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    color: #767676;
    text-decoration-line: underline !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  padding: 0px;
  margin: 0px;
}

.additional_information_tab a {
  margin-left: 60px !important;
}

.woocommerce-Tabs-panel h2 {
  display: none;
}

.woocommerce div.product .woocommerce-tabs .panel {
  padding-left: 12px;
  line-height: 155.5%;
  color: #767676;
}

.woocommerce-product-details__short-description {
  font-size: 16px;
  line-height: 27px;
  color: #767676;
}

.summary button.single_add_to_cart_button.button.alt {
  background: #FAAF40;
  border-radius: 5px;
  height: 50px;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 17px;
  line-height: 27px;
  color: #FFFFFF;
  margin-left: 48px;
  bottom: 0;
  width: 36%;
}

.summary .button.single_add_to_cart_button:before,
.woocommerce-page .button.single_add_to_cart_button:before {

  padding-right: 30px;
}

.single-product form.cart {
  border-top: 1px solid #E5E5E5;
  padding-top: 30px;
  display: flex;
}

.screen-reader-text {
    clip-path: inherit;
    clip: inherit;
    height: auto;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    position: relative !important;
    color: #767676;

}

.product_cat {
  font-size: 18px;
  line-height: 27px;
  color: #767676;
  margin-bottom: 10px;
}

.n_sku {
  font-size: 14px;
  line-height: 21px;
  color: #767676;
  margin-top: 10px;
}

.single-product .quantity {
    width: 38%;
    display: flex;
    float: left;
}

.single-product div.product form.cart {
  margin-bottom: 2em;
  position: relative;
}
.single-product #wc-stripe-payment-request-wrapper{
  width: 22% ;
  margin-left: 2%;
}
.single-product p#wc-stripe-payment-request-button-separator {
  display: none !important;
}
.woocommerce div.product .woocommerce-tabs .panel {
  padding-left: 0px;

}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding: 0px;
  margin: 50px 0 30px;
}

.single-product .bundle_button {
  border-top: 1px solid #E5E5E5;
  padding-top: 30px;
}

div.bundled_product_summary {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    border-bottom: none !important;
}

h4.bundled_product_title {
  margin-top: 0;
  font-size: 18px;
  line-height: 35px;
  color: #008EB3;

}

h4.bundled_product_title a {
  color: #008EB3;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #008eb3;
}

.woocommerce table.shop_attributes th {
  border: none;
  background: none;
  padding: 0px;
  font-weight: normal;
  line-height: 140%;
  color: #767676;
  display: block;
  margin: 10px 0px;
}

table.woocommerce-product-attributes.shop_attributes {
  width: 30%;
}

.woocommerce table.shop_attributes th:before {
  content: url(./img/check-circle.svg);
  padding-right: 22px;
  display: block;
  float: left;
}

.woocommerce table.shop_attributes td {
  background: none;
  border-bottom: none;
  font-weight: normal;
  line-height: 140%;
  color: #767676;
}

.woocommerce table.shop_attributes {
  border: 0;
  border-top: none;
}

.woocommerce table.shop_attributes tr:nth-child(even) td,
.woocommerce table.shop_attributes tr:nth-child(even) th {
  background: transparent;
}

.woocommerce-tabs {
  line-height: 140%;
  color: #767676;
  margin-top: 30px;
}

.woocommerce-tabs ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.woocommerce-tabs ul li {
  padding: 10px 0px;
}

.woocommerce-tabs ul li:before {
  content: url(./img/check-circle.svg);
  padding-right: 22px;
  display: block;
  float: left;
}

.price ins {
  text-decoration: none;
}

.summary .price del {
    color: inherit;
    opacity: .5;
    display: inline-block;
    color: #767676;
}


.documents_custom_tab_tab a {
  margin-left: 60px !important;
}



.summary .woocommerce-product-details__short-description p {
  display: none;
}

.summary .woocommerce-product-details__short-description ul {
  display: none;
}

/*checkout page */
.woocommerce ul#shipping_method {
  width: max-content;
}

.woocommerce-message {
  border-top-color: #008eb3 !important;
}

.woocommerce-message::before {
  color: #008eb3 !important;
}

p.form-row-first,
p.form-row-last {
  width: 100%;
  float: left;
}

.checkout .form-row {
  display: contents !important;
}

.woocommerce-checkout #payment ul.payment_methods li img {
  width: 50px;
}

.checkout input {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
}

.checkout input[type=checkbox],
input[type=radio] {
  height: auto;
  margin-right: 8px;
}

.checkout select {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
}

.checkout label {
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #767676;
  margin-bottom: 0px;
  margin-top: 20px;

}

.checkout textarea {
  border: 1px solid #E5E5E5 !important;
  box-sizing: border-box;
  border-radius: 5px;
}

.select2-dropdown {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
  top: -29px;
  font-weight: bold;
  font-size: 16px;
  color: #767676;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px;
}

.woocommerce-checkout-review-order-table td {
  border-bottom: 1px solid #E8EEF4;
  border-top: 0px !important;

}

.woocommerce-checkout-review-order-table td.product-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 149.5%;
  color: #767676;
  padding: 20px 0px !important;
}

.woocommerce-checkout-review-order-table td.product-total {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 35px;
  color: #008EB3;
  text-align: right;
}

.woocommerce-checkout-review-order-table thead {
  display: none;
}

.woocommerce-checkout-review-order-table tfoot th {
  font-weight: 700;
  border-top: 1px solid rgba(0, 0, 0, .1);
  font-weight: bold;
  font-size: 16px;
  line-height: 149.5%;
  color: #767676;
  padding: 20px 0px !important;
}

.woocommerce-checkout-review-order-table tfoot td {
  font-weight: 600;
  line-height: 35px;
  color: #008EB3;
  text-align: right;
}

tfoot td {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 35px;
  color: #008EB3;
  text-align: right;
}

.woocommerce-checkout-review-order-table th {
  border-top: none !important;
  border-bottom: 1px solid #E8EEF4;
}

.woocommerce-checkout-review-order-table td {
  border-top: none !important;
}

table.shop_table.woocommerce-checkout-review-order-table {
  border: 0px;
}

.woocommerce form .form-row label {
  line-height: 1.6;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #E5E5E5 !important;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px !important;
}

div#order_review {
  margin-top: 30px;
}

.woocommerce-checkout-review-order-table {
  border: none;
}

.woocommerce table.shop_table {
  margin: 0 -1px 48px 0;
}

.checkout h3 {
  font-family: Lato;
  font-weight: bold;
  line-height: 48px;
  color: #008EB3;
}

.checkout h2 {
  font-family: Lato;
  font-weight: bold;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: transparent;
  border-radius: 0px;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
  text-align: left;
  padding: 1em;
  border-bottom: 0px solid #d3ced2;
  margin: 0;
  list-style: none outside;
  background: #ebe9eb;
  border-radius: 5px;
}

.woocommerce-privacy-policy-text {
  font-size: 16px;
  color: #767676;
  margin-top: 20px;
}

button#place_order {
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
  height: 50px;
  padding: 15px 35px;
  background: #FAAF40;
  border-radius: 5px;
}



.woocommerce-billing-fields__field-wrapper {
  margin-bottom: 20px;
}


/* Shipping calculator */
input#calc_shipping_city,
input#calc_shipping_postcode {
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  font-size: 14px;
  line-height: 17px;
  color: #767676;
  padding: 12px;
}

p#calc_shipping_state_field {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #767676;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #E5E5E5;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #767676;
  padding-right: 31px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #767676 transparent transparent transparent;
  margin-left: -12px;
}

.shipping-calculator-form p .button {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #FAAF40;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 35px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #FAAF40;
}

.shipping-calculator-form p .button:hover {
  background: #FAAF40;
  color: #fff;
}

/*Thank you page*/
.success-page {
  margin-top: 50px;
  margin-bottom: 50px;
}

.success-page h1 {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #008EB3;
}

.success-page p {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #767676;
  margin-bottom: 25px;
}

/* order details page*/
.order-details-block address {
  font-size: 16px;
  line-height: 25px;
  color: #767676;
}

.woocommerce-order-details h2,
.order-details-block h2 {
  color: #008EB3;
}

/* Single service */
#formModal .frm_style_formidable-style.with_frm_style .frm_submit button {
  width: auto;
  padding: 13px 35px;
}

#formModal input {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px 10px;
}

#formModal label,
input,
button {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}

#frm_form_5_container label,
input,
button {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}

#frm_form_5_container .frm_form_field,
.form-field {
  width: 100%;

}

#frm_form_5_container input {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px 10px;
}

#frm_form_5_container select {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(img/select_arrow.svg);
  background-repeat: no-repeat;
  background-position: 97% 50%;
}

#frm_form_5_container label {
  font-weight: 700;
  line-height: 140%;
  color: #767676;
}

#frm_form_5_container .frm_submit button {
  padding: 13px 35px;
  float: left;
  width: auto;
}

#frm_form_5_container .frm_upload_text {
  font-weight: bold;
  line-height: 140%;
  color: #767676;
  font-family: 'Lato';
  font-size: 14px;
}

#frm_form_5_container .frm_small_text {
  font-size: 11px;
  line-height: 21px;
  color: #767676;
}

#frm_form_5_container span.frm_compact_text {
  display: block !important;
  font-size: 14px;
  float: right;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  color: #FAAF40;
  padding: 2px 14px;
  border: 1px solid;
}

#frm_form_5_container span.frm_icon_font.frm_upload_icon {
  display: none !important;
}

.blue-title-block {
  background: #008EB3;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  padding: 8px 14px;
  margin-bottom: 30px;
}

.img-product img {
  max-width: 150px;
  height: auto;
  margin-right: 35px;
}

.title-product {
  font-weight: bold;
  color: #767676;
  margin-bottom: 15px;
  margin-top: 15px;
  display: block;
  text-decoration: none;
}

.service_catalog_single {
  margin-top: 30px;
}

section.catalog {
  margin: 30px 0;
}

.get-free {
  border: 1px solid #FAAF40;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold;
  padding: 13px 42px;
}

.get-free img {
  margin-right: 22px;
}

h3.title-feauterd {
  font-weight: bold;
  margin-bottom: 20px;
}

.dec-feauterd a {
  font-weight: bold;
  color: #FAAF40 !important;
  text-decoration: none;
  margin-top: 28px;
}

ul#crumbs {
  list-style: none;
  text-decoration: none;
  padding: 0;
  display: flex;
  font-family: Poppins;
  font-size: 14px;
  line-height: 21px;
  color: #767676;
  margin-top: 30px;
  text-transform: capitalize;
  margin-bottom: 50px;
}

#crumbs li:last-child {
  color: #008EB3;
}


/* search form */
.searchform_page {
  margin-bottom: 70px;
  margin-top: 70px;
  width: 100%;
}

.searchform_page .topbar-search {

  border-radius: 5px;
  padding: 22px 12px;
  margin: 0;
  border-top: 1px solid #008EB3;
  border-bottom: 1px solid #008EB3;
  border-left: 1px solid #008EB3;
  border-right: 0px;
  box-shadow: none;
}

.searchform_page .btn {
  border-top: 1px solid #008EB3;
  border-bottom: 1px solid #008EB3;
  border-right: 1px solid #008EB3;
  border-left: 0px;
  box-shadow: none;
}

.searchform_page img {
  filter: invert(70%) sepia(66%) saturate(1510%) hue-rotate(162deg) brightness(101%) contrast(101%);
}

#searchtab {
  border: none;
}

#searchtab li a {
  border: none;
  font-weight: 600;
  font-size: 18px;
  color: #949494;
  padding-right: 50px;
  padding-left: 0px;
}

#searchtab li a:hover {
  color: #008EB3;
}

#searchtab .active {
  color: #008EB3;
}

.search .tab-content {
  padding-top: 50px;
}


/* Large desktops and laptops */
@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }

  #frm_form_5_container .frm_form_field,
  .form-field {
    margin-left: 0px;
  }
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 992px) {}

@media (max-width: 991px) {
  .searchform_page {
    display: block !important;
  }


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  /* Cart page  */
  .woocommerce-cart-form table.shop_table td {
    padding: 9px 12px;
  }

  .woocommerce-cart-form table.shop_table th {
    padding: 9px 25px;
    font-size: 20px;
  }

  td.product-subtotal {
    padding: 9px 0px 9px 0px !important;
  }

  .woocommerce .cart-collaterals .cart_totals,
  .woocommerce-page .cart-collaterals .cart_totals {
    width: 46%;
  }

  .woocommerce-checkout #payment ul.payment_methods li img {
    width: 37px;
  }

  div#payment label {
    font-size: 12px;
  }

  /* single product page */




  .single-product main h1 {
    font-size: 20px;
  }

  .summary .woocommerce-Price-amount.amount {
    font-size: 30px;
  }

  .product_cat {
    font-size: 14px;
  }

  .woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-size: 20px;
  }

  .woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-size: 14px;
  }

  .archive .woocommerce ul.products li.product,
  .archive.woocommerce-page ul.products li.product {
    width: 43.05%;
    margin: 0 30px 2.992em 0;
  }

  .archive .post-type-archiveain.woocommerce .products ul,
  .archive.woocommerce ul.products {
    margin-right: -30px;
  }

  /* single */
  #frm_form_5_container .frm_form_field,
  .form-field {
    width: 48.75%;
  }

  .blue-title-block {
    background: #fff;
    border: 1px solid #fff;
    color: #008EB4;
  }

  div#file46_dropzone {
    padding: 10px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {}

/* Landscape phones and smaller */
@media (max-width: 544px) {

    /*Mobile Cart page */
    .mobile-product-thumbnail {
        display: block;
    }
    td.product-name a {
        font-size: 14px;
    }
    #add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
        width: 110px;
    }
    .woocommerce-cart-form table.shop_table td {
        border-top: 0px solid #E8EEF4;
        padding: 9px 30px 9px 0px;
    }
    .remove-btn-mobile{
        display: block;
        float: right;
    }
    td.product-subtotal {
        padding: 9px 30px 9px 0px !important;
    }
    td.product-remove {
        display: none !important;
    }
    td.product-subtotal .amount {
        padding-right: 36px;
    }
    tr.woocommerce-cart-form__cart-item.cart_item {
        border-top: 1px solid #E8EEF4;
    }
    .woocommerce-cart .cart-collaterals .cart_totals tr td{
        border-top: white;
        padding: 9px 0px;
    }
    .cart_totals table tr {
        padding: 9px 0px;
    }
    .coupon input.input-text {
        width: 100% !important;
        margin-bottom: 15px !important;
    }
    .actions button.button {
        float: left !important;
        font-size: 14px;
        margin-bottom: 15px;
        width: 100% !important;
    }
    a.checkout-button.button.alt.wc-forward {
        font-size: 14px;
    }
    .coupon .button {
        width: 55% !important;
        margin: 20px 0px !important;
    }
    /*checkout page*/
    .checkout label {
        font-weight: 700;
        font-size: 14px;
        margin-top: 15px;
    }
    .checkout input {
        height: 40px;
    }
    #order_review_heading {
        margin-top: 30px;
    }
    .woocommerce-checkout-payment input{
        height: 10px;
    }
    .woocommerce-checkout #payment ul.payment_methods li img {
        width: 35px;
    }
    button#place_order {
        font-size: 14px;
        width: auto !important;
        float: right !important;
    }
    /*Single product page*/
    .single-product form.cart {
      flex-direction: column;
    }
    .single-product .quantity {
      width: 50%;
    }
    .single-product #wc-stripe-payment-request-wrapper {
      margin-top: 20px;
      width: 64%;
    }
    .single-product .hero-section{
        display: none;
    }
    .single-product main h1 {
        font-size: 18px;
    }
    .summary .woocommerce-Price-amount.amount{
        font-size: 24px;
        line-height: 38px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        font-size: 18px;
    }
    .single-product .price {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    table.woocommerce-product-attributes.shop_attributes {
        width: 100%;
    }
    .summary button.single_add_to_cart_button.button.alt {
        margin-left: 0px;
        display: block;
        margin-top: 23px;
        width: 64%;
    }
    .product_cat {
        font-size: 16px;
        line-height: 24px;
    }
    /* order details page*/
    .order-details-block{
        margin-top: 0px;
    }
    .order-details-block section{
        margin-top: 0px;
    }
    .order-details-block h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .woocommerce ul.order_details li {
        margin-top: 20px;
        padding-right: 0em;
        margin-left: 8px;
        padding-left: 0;
        width: 39%;
    }
    /*Shop page */

    .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
        width: 50%;
    }
    select.orderby {
        width: 79%;
        float: right;
    }
    .woocommerce ul.products li.product .woocommerce-loop-product__title {
        font-size: 14px !important;
    }
    .woocommerce .products ul, .woocommerce ul.products {
        display: block;
    }

    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        min-height: 375px;
    }
    /*Login page*/
    button#wp-submit {
        float:left ;
    }
    .form label {
        font-size: 14px;
    }
    .form input {
        height: 40px;
    }
    .lost_reset_password input {
        height: 40px;
    }
    .lost_reset_password label {
        font-size: 14px;
    }
    form.woocommerce-ResetPassword.lost_reset_password p {
        width: 100%;
    }
    .fpass-page h2 {
        text-align: left;
    }
    .login-submit-block.col.text-center {
        padding: 0px;
    }
    /* search page */

    #searchtab li a {

        font-size: 16px;
        padding-right: 30px;

    }
    .searchform_page {
        margin-bottom: 40px;
        margin-top: 40px;
    }
}

@media (max-width: 480px) {
}
