/*
Theme Name: Martfury
Description: Used to style the TinyMCE editor.
*/


/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Alignment
 * 5.0 - Galleries
 */

/**
 * 1.0 - Body
 */

body {
	color: #767676;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	line-height: 1.6;
	background: #fff;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * 2.0 - Typography
 */

a {
	-webkit-transition: 0.5s;
	transition: 0.5s;
	color: #3e4140;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: none;
}
a:hover {
	color: #3065b8;
}
a img {
	border: none;
}
img {
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	line-height: 1.4;
	color: #3e4140;
}
h1 {
	font-size: 60px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

ul {
	margin: 0 0 1.5em;
	padding-left: 1.5em;
}
li {
	margin-bottom: 0;
	margin-left: 1.5em;
}
p {
	margin-bottom: 1.5em;
}



/**
 * 3.0 - Elements
 */

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

input[type=text],
textarea {
	border: 1px solid #f3f4f7;
	background: #fff;
}
blockquote {
	font-size: 24px;
	line-height: 1.3333333333;
	margin: 0;
	padding: 0 100px;
	position: relative;
}
blockquote:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0.5em;
	width: 20px;
	border-top: 2px solid #000;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
}
caption,
td,
th {
	padding: 0;
	font-weight: normal;
	text-align: left;
}
table,
th,
td {
	border: 1px solid #eee;
}
th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}
td {
	border-width: 0 1px 1px 0;
}
th,
td {
	padding: 0.4375em;
}
dl {
	margin: 0 0 1.75em;
}
dt {
	font-weight: 700;
}
dd {
	margin: 0 0 1.75em;
}
/**
 * 4.0 - Alignment
 */

img {
	height: auto; /* Make sure images are scaled correctly. */
	width: inherit;  /* Make images fill their parent's space. Solves IE8. */
	max-width: 100%; /* Adhere to container width. */
}

embed,
iframe,
object {
	max-width: 100%;
}


/**
 * 5.0 - Galleries
 */

.gallery {
	margin-bottom: 1.5em;
	margin-left: -7px;
	margin-right: -7px;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin: 0;
	padding: 7px;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-columns-10 .gallery-item {
	max-width: 10%;
}

.gallery-caption {
	display: block;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}