.primary-nav a:hover,
.primary-nav a:focus,
.primary-nav a:active,
.primary-nav li li a:hover {
    color: #faaf40;
}
.button.add-to-wishlist-button {
    display: none;
}
.cart_totals .woocommerce-shipping-calculator {
	display: none !important;
}

.home .site-content,
.page-id-29 .site-content {
    padding-bottom: 0;
}
select.wpcf7-form-control {
    margin-top: 15px;
    margin-bottom: 15px;
}
.frm_style_formidable-style.with_frm_style input[type=text],
.frm_style_formidable-style.with_frm_style input[type=password],
.frm_style_formidable-style.with_frm_style input[type=email],
.frm_style_formidable-style.with_frm_style input[type=number],
.frm_style_formidable-style.with_frm_style input[type=url],
.frm_style_formidable-style.with_frm_style input[type=tel],
.frm_style_formidable-style.with_frm_style input[type=file],
.frm_style_formidable-style.with_frm_style input[type=search],
.frm_style_formidable-style.with_frm_style select {
    height: 50px;
}
.frm_button_submit.frm_final_submit {
    background-color: #1c2222 !important;
    color: #fff !important;
    padding: 0 38px !important;
    border: 1px solid transparent !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    height: 49px !important;
}
.clerina-icon-box .main-icon .header-icon .clerina-icon img {
    width: 70px;
    height: 70px;
}
.single-service .banner-style-1 a.mail-to {
    background: transparent;
    border: 0;
    color: #fff;
    padding: 0;
    margin-top: 0;
}
.single-service .banner-style-1 a.mail-to:hover {
    color: #fff;
}
.post-type-archive-service .clerina-appointment {
    display: none;
}

.widget #mc-embedded-subscribe-form input {
    text-transform: uppercase;
    padding: 0px 24px;
    border: none;
    border-radius: 5px;
    margin-top: 16px;
}